<div style="width: auto; text-align: center; padding: 0px">
  <div style="padding: 10px 10px;">
    <table style="width:100%">
      <tr>
        <td><%= link_to image_tag("logos/homepage/2014/albancat_logo.jpg", :width => '100px'), public_profile_employer_path(26232) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/amazon_logo.jpg", :width => '100px'), public_profile_employer_path(27699) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/amvets_logo.jpg", :width => '100px'), public_profile_employer_path(31443) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/averitt_logo.gif", :width => '100px'), public_profile_employer_path(27219) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/camber_logo.jpg", :width => '100px'), public_profile_employer_path(22896) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/canadian_pacific_logo.jpg", :width => '100px'), public_profile_employer_path(31421) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/carter_machinery_logo.jpg", :width => '100px'), public_profile_employer_path(27311) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/caterpillar_logo.gif", :width => '100px'), public_profile_employer_path(28275) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/chenega_logo.jpg", :width => '100px'), public_profile_employer_path(28579) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/cleveland_brothers_logo.jpg", :width => '100px'), public_profile_employer_path(27900) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/csu_logo.jpg", :width => '100px'), public_profile_employer_path(30636) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/david_griswold_logo.gif", :width => '100px'), public_profile_employer_path(31155) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/dnc_logo.jpg", :width => '100px'), public_profile_employer_path(31361) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/eaton_logo.jpg", :width => '100px'), public_profile_employer_path(31243) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/ge_logo.jpg", :width => '100px'), public_profile_employer_path(31458) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/hp_logo.jpg", :width => '100px'), public_profile_employer_path(29650) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/lockheed_martin_logo.jpg", :width => '100px'), public_profile_employer_path(22758) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/mckesson_logo.jpg", :width => '100px'), public_profile_employer_path(29489) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/mhs_logo.jpg", :width => '100px'), public_profile_employer_path(24053) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/moaa_logo.jpg", :width => '100px'), public_profile_employer_path(23352) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/nsa_logo.jpg", :width => '100px'), public_profile_employer_path(29505) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/ransome_cat_logo.jpg", :width => '100px'), public_profile_employer_path(26527) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/ransome_int_logo.png", :width => '100px'), public_profile_employer_path(26527) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/saint_leo_logo.jpg", :width => '100px'), public_profile_employer_path(31464) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/snap_on_tools_logo.jpg", :width => '100px'), public_profile_employer_path(30990) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/sodexo_logo.jpg", :width => '100px'), public_profile_employer_path(30327) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/state_farm_logo.jpg", :width => '100px'), public_profile_employer_path(29773) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/strayer_logo.jpg", :width => '100px'), public_profile_employer_path(24066) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2014/usba_logo.png", :width => '100px'), public_profile_employer_path(30295) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/usnrc_logo.jpg", :width => '100px'), public_profile_employer_path(27275) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/veterans_transition_forum_logo.png", :width => '100px'), public_profile_employer_path(31259) %></td>
        <td><%= link_to image_tag("logos/homepage/2014/wm_logo.jpg", :width => '100px'), public_profile_employer_path(26534) %></td>
      </tr>
    </table>
  </div>
</div>

<script>
  function track_lockheed() {
    $$('body')[0].insert({
      bottom: new Element('img', {src: 'http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=477', style: 'display:none'})
    });
    return true; 
  }
</script>
