<%= error_handling_fields_for job_location do |a_form| -%> 
	<%= a_form.hidden_field :label -%>
	<%= a_form.text_field :street_address1, :class=> "optional", :label => "Street Address Line 1" -%>
	<%= a_form.text_field :street_address2, :label => "Street Address Line 2" -%>
	<div class="inline">
		<%= a_form.text_field :city, :class=>"S" -%>
		<%= a_form.select :state, options_from_hash(Constants::STATE_APO), :include_blank=>true %>
		<%= a_form.text_field :zip, :class=>"S"-%>
	</div>	
<% end %>
