<% content_for :page_title do %>
		OFCCP Log
<% end %>

<%= will_paginate %>

<ul>
		<% @ofccp.each do |log_entry| %>
				<li><%=log_entry.created_at.to_s(:mmddyyyy) -%>&nbsp;&nbsp;<%="#{log_entry.employer_name} (#{log_entry.recruiter_name})" -%>&nbsp;<%=log_entry.job_code -%>:&nbsp;<%=log_entry.query_string -%></li>
		<% end %>
</ul>


<% content_for :right do %>

		<div>
				<h2 style="margin-top: 0px;">Download To Excel</h2>
				<%= form_tag download_to_excel_admin_ofccp_index_path(:format => :xls), :id => "downloadform" do %>

						<div style="margin-top: 5px; height: 50px;">
								<label style="float:left; clear:both; margin-left:5px;font-weight:bold;">Date From:</label>
								<div style="float:left; clear:both"><%= date_select :search_criteria, :date_from -%></div>
						</div>

						<div style="margin-top: 5px; height: 50px;">
								<label style="float:left; clear:both; margin-left:5px;font-weight:bold;">Date To:</label>
								<div style="float:left; clear:both;"><%= date_select :search_criteria, :date_to, :style => "float:left; clear:both;"-%></div>
						</div>

				<% end %>
		</div>

		<div class="button-bar" style="padding-top: 20px">
			  <a class="button" onclick="$('downloadform').submit(); return false;" href="#"><span>Download</span></a>
		</div>

<% end %>
