<% content_for :page_title do %>
  Build Your Network
<% end %>


<% content_for :breadcrums do %>
  <%= render :partial => "shared/breadcrums", 
    :locals => { :path => [ 
      {:home => welcome_path},
      {:transition_guide => "/static/transition_guide/overview" },
      :build_your_network
  ] } %>
<% end %>



<p>What should you do after you complete your resume? It is now time to begin networking your way to career transition success. Most people send out cover letters and resumes in response to job listings, then wait to be called for an interview. This “direct-mail” passive approach will yield a disappointing response rate. Being proactive, using interpersonal and networking strategies in which the resume plays a supportive rather than primary role, will yield much more success. With this approach you develop an informal information network you will use to gather knowledge about available jobs.</p>

<h2>Find Your Networks</h2>
<p>Networking in the job search involves connecting and interacting with people who can be helpful to you. In <%= link_to 'Step 4', '4_conduct_company_research' %> you created a Company Contacts list (<%= link_to 'Exercise 4b', '/exercises/Exercise_4b.pdf' %>) for your targeted companies. In this chapter you will expand beyond your targeted companies to encompass your personal network with whom you interact. Your basic network will include friends, acquaintances, immediate family, distant relatives, professional colleagues, supervisors, and local business professionals (such as your doctor, lawyer, banker, minister, etc.). You should expand this to include individuals you know and have interacted with over the past 10 or more years.</p>

<p>There are many resources to assist you in identifying and extending your network through new associations and organizations. These resources are listed to the right and in <%= link_to 'Exercise 6a: Networking Checklist', '/exercises/Exercise_6a.pdf' %> for your reference:</p>

<p><i>Military Colleagues</i> - As a member of the military you already have an extensive network in place. You need to let your military colleagues know that you are actively searching for a job. Military friends and associates who have already transitioned to the private sector can be especially helpful, for they know first-hand where the hidden jobs are within their organizations. For those who you’ve lost touch, use these veteran search websites to locate them:</p>
<ul>
  <li><%= link_to "Veteran Career Network", "http://benefits.military.com/vcn/search.do" %></li>
  <li><%= link_to "GI Search", "http://www.gisearch.com" %></li>
  <li><%= link_to "Military USA", "http://www.militaryusa.com" %></li>
  <li><%= link_to "Vet Friends", "http://www.vetfriends.com" %></li>
</ul>

<p><i>Military Associations</i> – As a transitioning service member, you have the opportunity to join a variety of military associations, many of which offer some form of job search assistance. Being a member of such an association significantly expands your opportunity to network with other veterans, many of whom are employed in the private sector. Consider joining one or more of these associations.</p>

<ul>
  <li><%= link_to "Military Officers Association of America (MOAA)", "http://www.moaa.org" %></li>
  <li><%= link_to "Non-Commissioned Officers Association (NCOA)", "http://www.ncoausa.org" %></li>
  <li><%= link_to "Reserve Enlisted Association (REO)", "http://www.reaus.org" %></li>
  <li><%= link_to "Reserve Officers Association (ROA)", "http://www.roa.org" %></li>
  <li><%= link_to "Air Force Association (AFA)", "http://www.afa.org" %></li>
  <li><%= link_to "Air Force Aid Society (AFAS)", "http://www.afas.org" %></li>
  <li><%= link_to "Association of the United States Army (AUSA)", "http://www.ausa.org" %></li>
  <li><%= link_to "U.S. Army Warrant Officers Association (USAWOA)", "http://www.usawoa.org" %></li>
  <li><%= link_to "Navy League of the United States", "http://www.NavyLeague.org" %></li>
  <li><%= link_to "Fleet Reserve Association (FRA)", "http://www.fra.org" %></li>
  <li><%= link_to "Marine Executive Association", "http://www.marineea.org" %></li>
  <li><%= link_to "Marine Corps Reserve Association", "http://www.usmcra.org" %></li>
  <li><%= link_to "Marine Corps League", "http://www.mcleague.org" %></li>
  <li><%= link_to "Marine for Life", "http://www.marineforlife.org/" %></li>
  <li><%= link_to "Armed Forces Communications and Electronics Association", "http://www.afcea.org" %></li>
  <li><%= link_to "American Legion", "http://www.legion.org" %></li>
  <li><%= link_to "Veterans of Foreign Wars", "http://www.vfw.org" %></li>
  <li><%= link_to "Disabled American Veterans", "http://www.dav.org" %></li>
</ul>

<p><i>Professional/Trade Associations</i> – Professional or Trade Associations offer you more networking opportunities within your career field and beyond your military connections. You can identify and connect with fellow professionals by researching and joining these types of associations.</p>

<ul>
  <li><%= link_to "Weddle’s Association Directory", "http://weddles.com/associations/index.cfm" %></li>
  <li><%= link_to "ASAE Gateway to Associations", "http://www.asaecenter.org/Community/Directories/associationsearch.cfm" %></li>
  <li><%= link_to "Yahoo Directory of Trade Associations", "http://dir.yahoo.com/business_and_economy/organizations/trade_associations" %></li>
</ul>

<p><i>Community Organizations</i> – Joining organizations in your community, such as the Rotary Club, Lions Club, faith-based organizations, etc., is a good way to build your local network.</p>

<ul>
  <li><%= link_to "Yahoo Directory of Service Clubs", "http://dir.yahoo.com/Society_and_Culture/Issues_and_Causes/Philanthropy/Community_Service_and_Volunteerism/Organizations/Service_Clubs" %></li>
</ul>

<p><i>Social Media Sites</i> – By leveraging the power of the Internet, you can extend your networking activities beyond your basic network. Social media tools such as <%= link_to "Linkedin", "http://www.linkedin.com" %>, <%= link_to "Twitter", "http://www.twitter.com" %>, and <%= link_to "Facebook", "http://www.facebook.com" %> can maximize the chances that your friends, as well as people you may not yet know but share a common interest, will help you identify job leads.</p>

<p>For more tips on using social media effectively in your job search, visit the <%= link_to "Corporate Gray Blog", "http://www.corporategrayblog.com/" %> and search on “social media” articles. For a more comprehensive explanation of social media job search tools, check out the book <u>Social Media and Your Job Search: A Guide for Military Members in Career Transition</u> available to order on the home page of Corporate Gray Online and the Corporate Gray Blog.</p>

<p><i>School/College Alumni Associations</i> – Check to see if your high school or college has an alumni association that offers networking opportunities among members. If your school does not offer this, the social media sites are another way to connect with classmates. For example, you can do a people search at <%= link_to "Linkedin", "http://www.linkedin.com" %> by schools, among many other filters.</p> 

<h2>Spouse Networks</h2>
<p>There are several networking websites that are a resource for military spouses:</p>
<ul>
  <li><%= link_to "Military Spouse Corporate Career Network (MSCCN)", "http://www.msccn.org" %></li>
  <li><%= link_to "National Military Spouse Network", "http://www.nationalmilitaryspousenetwork.org" %></li>
  <li><%= link_to "Military Spouse Network", "http://www.military.com/military-spouse-network" %></li>
  <li><%= link_to "SpouseClubs.com", "http://www.spouseclubs.com" %></li>
</ul>

<h2>Networking Etiquette and Tips</h2>
<ul>
  <li><i>Respect your contacts’ time</i> – Be respectful, mindful, and appreciative of the time others are giving you. Make sure you call people at times that are convenient for them. Plan what to say ahead of time to help you be concise. Don’t expect an immediate response to your request for assistance or pressure them with repeat calls.</li>
  <li><i>Research your contacts</i> – Do research before you meet with someone to ensure your questions are relevant and to avoid wasting their time. Linkedin is a great resource for this.</li>
  <li><i>Respect your contacts’ privacy</i> – Always respect your contact’s name. Get permission before you use a person’s name as a referral or a source of information.</li>
  <li><i>Reciprocate</i> – Networking should be two-way. Share information you’ve gained while networking if it can help others. Periodically send your connections important information, articles, or relevant upcoming events to stay in touch and reciprocate the support. If you’re asked for an article or phone number, jot it down and follow through on your promise to send it to them. Offer assistance to your contacts in the future.</li>
  <li><i>Show gratitude</i> – Thank everyone who helps you with leads, ideas, or advice. A quick phone call or hand-written thank you note is always welcome.</li>
  <li><i>Follow up</i> – Follow up on leads or referrals quickly. Also follow up with your contacts – keep them informed of your progress.</li> 
  <li><i>Stay organized</i> – Keep a file of contact information to help you stay organized and in touch with people in your network. Use <%= link_to "Exercise 6b: Networking Contacts", "/exercises/Exercise_6b.pdf" %> or a business card organizer to keep not only contact information but also the date you contacted them and useful notes/reminders about the contact.</li>
</ul>

<% content_for :right do %>

  <%= render :template => 'static/transition_guide/right_menu.html.erb' %>

  <h2>Exercises:</h2>

  <ul class='resources'>
    <li><%= link_to "Exercise 6a: Networking Checklist", "/exercises/Exercise_6a.pdf" %></li>
    <li><%= link_to "Exercise 6b: Networking Contacts", "/exercises/Exercise_6b.pdf" %></li>
  </ul>

  <div style="margin-top: 10px">&nbsp;</div>
  <%= render :partial => "shared/featured_employer_skyscraper.html.erb" %>

<% end %>


<% content_for :head do %>

  <%= stylesheet_link_tag "transition_guide" %>

  <script>
    document.observe('dom:loaded', function() {
      $$('#build_your_network a')[0].addClassName('selected');
    });
  </script>

<% end %>
