<% content_for :page_title do %>
  Interview Like a Pro
<% end %>

<% content_for :breadcrums do %>
  <%= render :partial => "shared/breadcrums", 
    :locals => { :path => [ 
      {:home => welcome_path},
      {:transition_guide => "/static/transition_guide/overview" },
      :interview_like_a_pro
  ] } %>
<% end %>



<p>The job interview is the most important step in the job search process. All previous job search activities lead to this one. It’s also important that you interview for the right job; one that is compatible with your knowledge, skills, interests, and problem solving ability. Your career and company research as well as networking exercises have paved the way for the next steps – informational interviews, and ultimately job interviews.</p>

<h2>Informational Interview</h2>
<p>If you want a job interview, you first need to understand the informational interview and how to initiate and use it effectively.  The best way to get a job is to ask for job information, advice, and referrals; never ask for a job. You want your prospects to engage in the 5 Rs of informational interviewing:</p>
<ol>
  <li>Reveal useful information and advice</li>
  <li>Refer you to others</li>
  <li>Read your resume</li>
  <li>Revise your resume</li>
  <li>Remember you for future reference</li>
</ol>

<p>Conduct informational interviews with different types of people: friends, relatives, acquaintances, referrals, and new contacts. Based on prospecting and networking techniques, theses informational interviews can have many benefits:</p>
<ul>
  <li>Yield useful job search information</li>
  <li>Minimize rejections and competition</li>
  <li>Open the doors to organizations and employers</li>
  <li>May lead to job interviews and offers</li>
</ul>

<p>You will gain the easiest access to people in your network you already know. You should use a more formal approach to gain access to referrals and new contacts. The best way to initiate contact with a prospective employer is to send an approach letter and follow it up with a phone call. Examples of approach letters are found at the end of Step 5. Do not include your resume at this time – you are requesting an interview for information and advice, not asking for a job.</p>

<h2>Job Interview Preparation and Tips</h2>
<p>Hopefully your researching, resume and letter writing, networking, and informational interviewing activities result in several job interviews appropriate to your objective and background. While the job interview is the most important job search activity, it is also the most stressful. Proper preparation will help reduce the stress level and make a difference in the outcome of the interview.</p> 

<h2>Dress for Success</h2>
<p>Appearance is the first thing you communicate to others. Before you have a chance to speak, interviewers notice how you dress and draw certain conclusions about your personality and competence. Deciding what to wear on the first interview depends significantly on the nature of the job. A person interviewing for an electrician position in a factory would wear something different than someone interviewing for a senior marketing position on Wall Street. “Recon” the company before the interview to see what others are wearing, or ask someone you know who works there what they think is appropriate attire.</p>
<p>If you are going to be pursuing a white-collar position, the basic attire for men or women is a suit. Select a classic style in a conservative color, such as navy blue or charcoal gray. For men a long-sleeve white cotton shirt and a conservative tie are recommended. For women a natural fiber suit with a silk (or silk-like) blouse is suggested. There are many dress, image and etiquette books available that offer more detailed advice. A few are listed in Additional Resources to the right.</p>

<h2>Common Interview Questions</h2>
<p>Your preparation should include developing a clear, concise, and well thought out answer to some of the most common interview questions:</p>

<ul>
  <li>Why do you want to join our organization?</li>
  <li>What are your qualifications for this position?</li>
  <li>What have you done in the military that relates to this position?</li>
  <li>How would you define your ideal job?</li>
  <li>Why should we hire you?</li>
  <li>What do you want to be doing five years from now?</li>
  <li>How do you feel about relocating? Traveling? Working overtime?</li>
  <li>What attracted you to our organization?</li>
  <li>What do you know about our company?</li>
  <li>Describe yourself.</li>
  <li>What are your major weaknesses? Strengths?</li>
  <li>What actions have you taken to improve on your weaknesses?</li>
</ul>

<p>Certain questions are illegal, but you may be asked them nonetheless. Some employers may ask such questions just to see how you react under stress. Others may do so out of ignorance of the law. Whatever the case, be prepared to tactfully handle questions such as:</p>

<ul>
  <li>Are you married, divorce, separated, or single?</li>
  <li>How old are you?</li>
  <li>Were you ever arrested?</li>
  <li>Do you have any disabilities?</li>
  <li>What childcare arrangements do you have?</li>
</ul>

<p>When asked an illegal question, don’t get upset. Respond by asking them, “Does this have a direct bearing on the responsibilities of this position?” If you handle the question with tact it will reflect your poise under pressure.</p>

<h2>Behavior-Based Interviews</h2>
<p>Many employers are conducting behavior-based interviews that are filled with behavior-related questions designed to elicit patterns of accomplishments relevant to the employer’s situation. This is an opportunity for you to give examples that sell your positive characteristics. As you prepare for your interview consider specific situations, both positive and negative (emphasizing a positive outcome), and how you handled them, such as:</p>

<ul>
  <li>Demonstrated leadership</li>
  <li>Solved a problem</li>
  <li>Increased company profits</li>
  <li>Made a good decision / made a poor decision</li>
  <li>Handled change or trends</li>
  <li>Handled criticism</li>
  <li>Met a deadline / missed a deadline</li>
  <li>Worked as part of a team</li>
</ul>

<h2>Asking Questions</h2>
<p>Interviewers expect candidates to ask intelligent, thoughtful questions concerning the organization and the nature of the work. Keep your questions employer- and job-centered rather than self-centered. Consider asking some of these questions if they haven’t been answered earlier in the interview:</p>

<ul>
  <li>What are the duties and responsibilities of this job?</li>
  <li>How does this position relate to other positions in the company?</li>
  <li>What would be the ideal type of person for this position? Skills? Personality? Background?</li>
  <li>Whom would I be working with in this position?</li>
  <li>Are promotions and raises usually tied to performance criteria?</li>
  <li>What is particularly unique about working in this organization?</li>
  <li>What does the future look like for this organization?</li>
</ul>

<p>Also, ask other questions that may have been triggered by the interviewer’s earlier comments and that incorporate your research-based knowledge of the company. This will demonstrate that you are a good listener, are quick on your feet and cared enough about the interview to take the time to learn more about a potential employer.</p>

<h2>Closing the Interview</h2>
<p>Interviewers will normally initiate the close by standing, shaking hands, and thanking you for coming to the interview. Rather than just saying thank you and goodbye, you should summarize the interview, restating your qualifications and continued interest in working with the employer. At this point it is proper to ask the interviewer about the selection plans: “When do you anticipate making your final decision?”</p> 

<p>Follow this question with, “May I call you next week (or whatever is appropriate in response to their last answer) to inquire about my status?”</p>
By taking the initiative in this manner, the employer will be prompted to clarify your status soon, and you will have an opportunity to talk to him/her further.

<h2>Follow Up</h2>
<p>Once you have been interviewed, be sure to follow through to get nearer to the job offer. One of the best follow-up methods is the thank you letter. Examples of thank you letters are at the end of Chapter 5. In this letter express your gratitude for the opportunity to interview. Restate your conversation or anything you wish to further clarify. Close the letter by mentioning that you will call in a few days to inquire about the employer’s decision.</p> 
<p>Send any additional information to the employer that may enhance your application. You can send an updated resume that better orients your skills and experience to what you have learned is most important to this company and the job that you are pursuing. You want to tactfully communicate to the employer that you are interested in the position and you will do a good job.</p>

<p>Use <%= link_to "Exercise 7b: Interview Record", "/exercises/Exercise_7b.pdf" %> to maintain a record of each interview to help you stay on track with each position you are pursuing.</p>

<% content_for :right do %>

  <%= render :template => 'static/transition_guide/right_menu.html.erb' %>

  <h2>Exercises:</h2>

  <ul class="resources">
    <li><%= link_to "7a: Interview Questions", "/exercises/Exercise_7a.pdf" %></li>
    <li><%= link_to "7b: Interview Record", "/exercises/Exercise_7b.pdf" %></li>
  </ul>

  <h2>Additional Resources:</h2>

  <p>These books on dress, image and etiquette are available at <%= link_to "www.impactpublications.com:", "http://www.impactpublications.com" %></p>

  <ul class='resources'>
    <li>Demarais, Ann, and White, Valerie – First Impressions</li>
    <li>Lenius, Oscar – Well-Dressed Gentleman’s Pocket Guide</li>
    <li>Lerner, Dick – Dress Like the Big Fish</li>
    <li>Nicholson, Joanna - Dressing Smart for Men and Dressing Smart for Women</li>
    <li>Yasko-Mangum, Jamie L. – Look, Speak, & Behave for Men</li>
    <li>Yasko-Mangum, Jamie L. – Look, Speak, & Behave for Women</li>
  </ul>

  <div style="margin-top: 10px">&nbsp;</div>
  <%= render :partial => "shared/featured_employer_skyscraper.html.erb" %>

<% end %>

<% content_for :head do %>

  <%= stylesheet_link_tag 'transition_guide' %>

  <script>
    document.observe('dom:loaded', function() {
      $$('#interview_like_a_pro a')[0].addClassName('selected');
    });
  </script>

<% end %>
