<h2 style="margin-top:0px">Sample Resumes </h2>
<%= image_tag "resume_thumb.gif", :style=>"float:left; margin-right: 5px" -%>
<ul id="resume_samples" style="font-size: 10px; float:left;">
	<li><%= link_to "Combat Engineer", "/static/download_docx/CombatEngineer.docx", :popup => true -%></li>
	<li><%= link_to "Electrician", "/static/download_docx/Electrician.docx", :popup => true -%></li>
	<li><%= link_to "Helicopter Maintenance", "/static/download_docx/HelicopterMaintenanceSupervisor.docx", :popup => true -%></li>
	<li><%= link_to "Homeland Security", "/static/download_docx/HomelandSecurityManager.docx", :popup => true -%></li>
	<li><%= link_to "Human Resources", "/static/download_docx/HumanResourcesManager.docx", :popup => true -%></li>
	<li><%= link_to "Law Enforcement", "/static/download_docx/Law-Enforcement.docx", :popup => true -%></li>
	<li><%= link_to "Maintenance Technician", "/static/download_docx/MaintenanceTechnician.docx", :popup => true -%></li>
	<li><%= link_to "Network Administrator", "/static/download_docx/NetworkAdministrator.docx", :popup => true -%></li>
</ul>


