<% content_for :page_title do %>
  Job Fair Registration
	<h2><%= "#{@registration.jobfair.name}" -%></h2>
<% end %>

<% content_for :page_header_links do %>
  <%= link_to "Save", "#", :onclick => "$('registrationform').submit();return false" -%> |
  <%= link_to "Cancel", jobfairs_path %>
<% end %>

<%= error_messages_for @registration %>

<%= error_handling_form_for @registration, :url => jobfair_registrations_path, :html=>{:id => "registrationform" } do |f| %>
  <%= render :partial => "form", :object => f -%>
  <div class="button-bar">
    <a class="button" href="#" onclick="$('registrationform').submit(); return false;"><span>save</span></a>
    <div>or <%= link_to "Cancel", jobfairs_path, :class=>"cancel"%></div>
  </div>
<% end %>

<%= content_for :right do %>
  <%= render :partial => "shared/multi_jobfair_discount.html.erb" %>
<% end %>
