<% content_for :page_title do %>
  Employer Administration
<% end %>


<% content_for :page_header_links do %>
  <%= link_to "Cancel", admin_employers_path -%>
<% end %>


<%= error_messages_for @employer %>

<%= error_handling_form_for @employer, :url => admin_employers_path, :html => {:id => "employerform" } do |f| %>

  <%= error_handling_fields_for @recruiter do |recruiter_form| %>
    <%= render :partial => "recruiter/form", :object => recruiter_form %>
  <% end %>

  <%= render :partial => "form", :object => f -%>
			
  <div class="button-bar">
    <a class="button" href="#" onclick="$('employerform').submit(); return false;"><span>save</span></a>
    <div>or <%= link_to "Cancel", admin_employers_path, :class=>"cancel"%></div>
  </div>

<% end %>
