<% content_for :page_title do %>
  <%= "Profile for: #{@applicant.name}" %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
<% end %>


<% unless @applicant.errors.empty? && @address.errors.empty? %>

  <div class="flash error"><b>Please correct the errors indicated and try again</b></div>

  <div id="errorExplanation" class="errorExplanation">
    <% if @applicant.errors %>
      <ul>
        <% @applicant.errors.each do |error| %>
          <% unless error[0] == :addresses %>
            <li><%= "#{error[0].to_s.humanize} #{error[1]}" %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% if @address.errors %>
      <ul>
        <% @address.errors.each do |error| %>
          <li><%= "#{error[0].to_s.humanize} #{error[1]}" %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<% end %>

<br/>

<%= form_for @applicant, :html => {:class => "form-horizontal"} do |f| %>
  <%= render :partial => 'applicant/form', :locals => {:f => f} %>
<% end %>

<% content_for :right do %>

  <!-- don't show linkedin auth page for now -->
  <% unless @applicant.linkedin_authenticated? || true %>

    <div class="well" style="line-height: 1.7em; color: #4c4c4c;">
      <p>
        We can retrieve your most current employment information from LinkedIn,
        like: your summary, work experience, and education. 
      </p>
      <p style="margin-top: 1em; margin-bottom: 2em;">
        Just use the button bellow to link your LinkedIn profile.
      </p>
      <%= link_to "Link your LinkedIn account", "/auth/linked_in", :id => "linkedin_handler", :class => "btn btn-primary btn-block", :style => "text-decoration: none;"%>
    </div>

    <script>
      $(document).on("dom:loaded", function() {

        $('linkedin_handler').on('click', function(event) {
          if(this.readAttribute('data-disabled')) {
            event.stop();
          }

          $('indicator').show();
          this.setAttribute('data-disabled', 1);
          this.addClassName('disabled');
        });
      });
    </script>

  <% end %>

<% end %>


