<% content_for :head do %>
  <style>
    #company_profile .title {
      height: 33px;
      font-size: 1.3em;
      padding: 35px 0 0 7px;
      color: #FFF;
      background: #010C2A;
      margin-bottom: 10px;
    }

    #company_profile p {
      padding-left:3px;
      padding-right: 5px;
      padding-bottom: 10px;
    }

    h1 + h3 {
      margin-bottom: 0;
    }

    h3 {
      margin: 0;
      color: #0B4268;
      font-weight: normal; 
      font-size: 1.1em;
    }

  </style>
<% end %>

<% content_for :page_title do %>
  <%= @job.title -%>
  <h3>Posted <%= relative_date((@job.updated_at || @job.created_at)) %></h3>
<% end %>

<% content_for :title do %>
  <%= @job.title %>
<% end %>

<% content_for :page_header_links do %>
  <% if current_user.is_a?(Recruiter) %>
    <% if @job.expired? %><%= link_to "Re Post", repost_job_path(@job.id) -%>&nbsp;|&nbsp;<% end %>
    <%= link_to "Edit", edit_job_path(@job.id) -%>&nbsp;|&nbsp;
    <%= link_to "Delete", job_path(@job.id), :method => :delete %>&nbsp;|&nbsp;
    <%= link_to "New", new_job_path -%>&nbsp;|&nbsp;
    <%= link_to "View All", jobs_path -%>

  <% elsif current_user.is_a?(Applicant) %>
    <h3><%= @job.company_name || @job.recruiter.employer.name %> | <%= "#{@job.location.city}, #{@job.location.state}" %></h3>
  <% end %>
<% end %>

<%= render :partial => 'show', :locals => {:display_title => false} %>

<% content_for :right do %>
		
  <% if current_user.instance_of? Recruiter %>
      <h2 style="margin-top: 0">Suggested Job Seekers</h2>
      <ul>
        <% (@matches.records.length > 5 ? 5 : @matches.records.length).times do |index| %>
            <li style="margin-bottom: 5px"><%= link_to image_tag('/images/icns/crystal/16x16/mimetypes/doc.png', :style => "margin-right: 5px") + @matches.records[index].applicant.name, resume_path(@matches.records[index].id), :style => "color: #1C5379; text-decoration: none;" -%></li>
        <% end unless (@matches.nil? || @matches.records.nil?)%>
      </ul>
      <div><%= link_to "See More ...", search_resumes_path , :style => "float:right; margin-right: 15px; text-decoration: none; color: blue;"-%></div>
  <% end %>

<% end %>

