<% content_for :page_title do %>
  New Job Fair
<% end %>

<% content_for :page_header_links do %>
  <%= link_to "View All", admin_jobfairs_path -%>
<% end %>


<%= error_messages_for @jobfair %>

<%= error_handling_form_for @jobfair, :url => admin_jobfairs_path,  :html => {:id => "jobfairform" } do |f| %>

  <%= render :partial => "form", :object => f -%>

  <div class="button-bar">
    <a class="button" href="#" onclick="$('jobfairform').submit(); return false;"><span>save</span></a>
    <div>or <%= link_to "Cancel", admin_jobfairs_path, :class=>"cancel"%></div>
  </div>

<% end %>
